streamlit
pandas
python-dotenv
nest_asyncio
gspread
oauth2client
langchain-huggingface
langchain-pinecone
pinecone-client==5.0.1
langchain-google-genai
langchain-core
sentence-transformers
langchain
google-generativeai
